/* Login Menu
-------------------------------------------------- */

.login-container {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    min-width: 300px;
    max-width: 500px;
    width: 25%;
    height: 50%;
}

.login-form-container {
    background-color: white;
    display: block;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #f2f2f2;
    padding: 25px;
}

    .login-form h1, h2, h3, h4 {
        text-align: center;
    }

/*Responsive UI*/
@media only screen and (max-width: 1850px) {
    h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 25px;
    }
}
