@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Timeline</h1>
    <h4>Username: @User.Identity.Name</h4>
    <h4>User ID: @User.FindFirst("UserID").Value</h4>
</div>
